/* Sidebar scrollbar */
nav::-webkit-scrollbar {
  width: 6px;
}

nav::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}

nav::-webkit-scrollbar-track {
  background: transparent;
}
